# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
dist_backup_20220419/.htaccess
dist_backup_20220419/favicon.ico
dist_backup_20220419/index.html
dist_backup_20220419/main.js
dist_backup_20220419/main.js.map
dist_backup_20220419/polyfills.js
dist_backup_20220419/polyfills.js.map
dist_backup_20220419/runtime.js
dist_backup_20220419/runtime.js.map
dist_backup_20220419/styles.css
dist_backup_20220419/styles.css.map
dist_backup_20220419/vendor.js
dist_backup_20220419/vendor.js.map
